@model IEnumerable<Category>

@{
    foreach (var anaKategori in Model.Where(c => c.IsActive && c.IsTopMenu && c.ParentId == 0))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="ContactUs">@anaKategori.Name</a>
        </li>
    }

}
